
.idea/encodings.xml
.idea/libraries/R_User_Library.xml
.idea/misc.xml
.idea/modules.xml
.idea/PyProj.iml
.idea/vcs.xml
.idea/workspace.xml
reader.pyc
analyser.pyc
LDcomp.pyc
Countries.pyc
Books.pyc
matching.pyc
Age.pyc
